:root{
    --base1: #051EF0;
    --base2: #8505F0;
    --base3: #3805F0;
    --base4: #0568F0;
    --base5: #D105F0;
    --base6: #9F89F0;
    --bg: #000000;
    --bg2: #424146;
    --accent: #ece586;
}
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background: linear-gradient(270deg, var(--bg), var(--bg2));
    }
    h1{
        color: var(--accent);
        font-family: Arial, Helvetica, sans-serif;
        text-decoration:overline;
    }
    p{
        color: var(--accent);
        font-family: Arial, Helvetica, sans-serif;
    }
    #info{
        color: var(--accent);
        text-decoration: underline;
        font-family: Arial, Helvetica, sans-serif;
    }
    div{
        color: white;
    }
    #start{
        position: absolute;
        top: 60%;
        right: 48.5%;
    }
    #gameArea {
        background: var(--accent);

    }
    #target {
      width: 40px;
      height: 40px;
      background: var(--accent);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
    }
    #info {
      margin-top: 1rem;
    } 
    #missedClicks {
        color: var(--accent);
        position: absolute;
        top:97%;
        right:80%;
        visibility: hidden;
    }
    #reactionTime {
        color: var(--accent);
        position: absolute;
        top:97%;
        right:20%;
        visibility: hidden;
    }
    #start{
        border-radius: 1rem;
        color: var(--accent);
        background: linear-gradient(270deg, var(--bg), var(--bg2));
        text-decoration: solid;
    }
    #targetsRemaining{
        color: var(--accent);
        position: absolute;
        right: 20%;
        visibility: hidden;
    }
    #selectedSpawnDelay{
        color: var(--accent);
        position: absolute;
        right: 5%;
    }
    #selectedTargetAmount{
        color: var(--accent);
    }
    label{
        color: var(--accent);
    }
    input{
        color: var(--accent);
    }
    #targetMenu{
        position: absolute;
        color: var(--accent);
        right: 60%;
    }
    #spawnMenu{
        position: absolute;
        color: var(--accent);
        left: 60%;
    }